<div class="container">
    <h1 class="mt-5">Plotpad</h1>
    <p class="lead">Homepage</p>
    <div id="main-menu">
        <button id="load-story">Load Story</button>
        <button id="new-story">New Story</button>
    </div>
</div>
<script src="../src/menu.js"></script>